Repository MaslovMykhailo/BSPA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsm}": ["eslint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Add server with hot reload
  eslint.config.mjs
  hw-1-video-player/index.html
  package.json
  server.mjs
  yarn.lock
Due: prettier --write

Implement VideoPlayer
  .DS_Store
  .gitignore
  hw-1-video-player/index.css
  hw-1-video-player/index.html
  hw-1-video-player/index.js
  hw-1-video-player/video-player/VideoPlayer.js
  hw-1-video-player/video-player/VideoPlayer.style.js
  hw-1-video-player/video-player/index.js
Due: eslint --fix

Setup monorepo
  hw-1-video-player/package.json
  hw-1-video-player/server.mjs
  package.json
  server.mjs
  yarn.lock
Due: prettier --write

Clone snake starting codebase
  .gitignore
  hw-1-video-player/package.json
  hw-2-snake/index.html
  hw-2-snake/package.json
  hw-2-snake/script.ts
  hw-2-snake/snake.ts
  hw-2-snake/style.css
  hw-2-snake/tsconfig.json
  package.json
  yarn.lock
Due: prettier --write

Add starting state, add speed, improve restarting state
  hw-2-snake/snake.ts
Due: none

Update docs
  README.md
Due: prettier --write

Prepare project description
  project/README.md
Due: prettier --write

Setup vite project
  package.json
  project/eslint.config.js
  project/index.html
  project/package.json
  project/src/App.tsx
  project/src/main.tsx
  project/src/vite-env.d.ts
  project/tsconfig.app.json
  project/tsconfig.json
  project/tsconfig.node.json
  project/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add tailwind and shadch componets
  project/components.json
  project/eslint.config.js
  project/package.json
  project/src/App.tsx
  project/src/components/ui/button.tsx
  project/src/lib/utils.ts
  project/src/main.css
  project/src/main.tsx
  project/tailwind.config.ts
  project/tsconfig.app.json
  project/tsconfig.json
  project/tsconfig.node.json
  project/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Attempt to make tailwind work
  project/components.json
  project/index.html
  project/package.json
  project/src/App.tsx
  project/src/components/app.tsx
  project/src/main.css
  project/src/main.tsx
  project/tailwind.config.ts
  yarn.lock
Due: prettier --write

Remove tailwind.config.ts
  project/components.json
  project/src/components/app.tsx
  project/tailwind.config.ts
  project/tsconfig.node.json
Due: prettier --write

Add transactions uploading
  project/eslint.config.js
  project/package.json
  project/src/components/app.tsx
  project/src/components/import-statement-dialog.tsx
  project/src/components/ui/button.tsx
  project/src/components/ui/dialog.tsx
  project/src/components/ui/input.tsx
  project/src/components/ui/label.tsx
  project/src/components/ui/separator.tsx
  project/src/components/ui/sheet.tsx
  project/src/components/ui/sidebar.tsx
  project/src/components/ui/skeleton.tsx
  project/src/components/ui/table.tsx
  project/src/components/ui/tooltip.tsx
  project/src/components/visualizer.tsx
  project/src/content.ts
  project/src/hooks/use-mobile.ts
  project/src/lib/utils.ts
  project/src/main.tsx
  project/src/store/index.ts
  project/src/store/use-app-store.ts
  project/src/types/models.ts
  project/src/utils/date.ts
  project/src/utils/mcc.json
  project/src/utils/transactions.ts
  project/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Setup base sidebar
  project/index.html
  project/src/components/app-sidebar.tsx
  project/src/components/app.tsx
  project/src/components/generate-statement-button.tsx
  project/src/components/import-statement-dialog.tsx
  project/src/components/ui/sidebar.tsx
  project/src/content.ts
  project/src/main.css
  project/src/utils/transacations-csv.ts
Due: none

Render list of statements in sidepanel
  project/src/components/app-sidebar.tsx
  project/src/components/import-statement-dialog.tsx
  project/src/components/statement-sidebar-item.tsx
  project/src/components/ui/sidebar.tsx
  project/src/content.ts
  project/src/store/app-store.ts
  project/src/store/index.ts
  project/src/store/use-app-store-selector.ts
  project/src/store/use-app-store.ts
  project/src/types/models.ts
  project/src/utils/date.ts
  project/src/utils/statements.ts
  project/src/utils/transactions.ts
Due: none

Add title
  project/src/components/app-sidebar.tsx
  project/src/components/app-title.tsx
  project/src/components/app.tsx
  project/src/content.ts
Due: none

Render transactions as a graph
  project/package.json
  project/src/components/app-sidebar.tsx
  project/src/components/app.tsx
  project/src/components/graph-visualizer.tsx
  project/src/components/import-statement-dialog.tsx
  project/src/components/statement-sidebar-item.tsx
  project/src/store/graph/index.ts
  project/src/store/graph/store.ts
  project/src/store/graph/use-graph.ts
  project/src/store/graph/use-selector.ts
  project/src/store/graph/use-store.ts
  project/src/store/index.ts
  project/src/store/statements/index.ts
  project/src/store/statements/store.ts
  project/src/store/statements/use-selector.ts
  project/src/store/statements/use-store.ts
  project/src/store/utils.ts
  project/src/types/entity.ts
  project/src/types/graph.ts
  project/src/types/models.ts
  project/src/types/statement.ts
  project/src/types/transaction.ts
  project/src/utils/graph.ts
  project/src/utils/statements.ts
  project/src/utils/transacations-csv.ts
  project/src/utils/transactions.ts
  yarn.lock
Due: prettier --write

Add graph type switch
  project/package.json
  project/src/components/app.tsx
  project/src/components/graph-type-switch.tsx
  project/src/components/graph-visualizer.tsx
  project/src/components/ui/tabs.tsx
  project/src/content.ts
  project/src/store/graph/use-graph.ts
  project/src/store/graph/use-selector.ts
  project/src/types/graph.ts
  project/src/utils/graph.ts
  project/src/utils/normalize.ts
Due: prettier --write

Add colors to nodes
  project/src/components/graph-visualizer.tsx
  project/src/types/graph.ts
  project/src/utils/color.ts
  project/src/utils/graph.ts
  yarn.lock
Due: none

Add reset selection button, render placeholder
  project/src/components/app-sidebar.tsx
  project/src/components/graph-visualizer.tsx
  project/src/components/import-statement-dialog.tsx
  project/src/components/statement-sidebar-item.tsx
  project/src/content.ts
  project/src/store/statements/store.ts
  project/src/store/statements/use-selector.ts
  project/src/store/statements/use-store.ts
  project/src/utils/color.ts
  project/src/utils/random.ts
Due: none

Show node details no hover
  project/src/components/app-title.tsx
  project/src/components/app.tsx
  project/src/components/graph-node-preview.tsx
  project/src/components/graph-type-switch.tsx
  project/src/components/graph-visualizer.tsx
  project/src/components/ui/card.tsx
  project/src/components/visualizer.tsx
  project/src/content.ts
  project/src/store/graph/store.ts
  project/src/store/graph/use-graph.ts
  project/src/store/graph/use-selector.ts
  project/src/store/graph/use-store.ts
  project/src/types/graph.ts
  project/src/utils/graph.ts
  project/src/utils/mcc.ts
  project/src/utils/transactions.ts
Due: none

Improve content, add statements removing
  project/package.json
  project/src/components/app-sidebar.tsx
  project/src/components/statement-sidebar-item.tsx
  project/src/components/ui/dropdown-menu.tsx
  project/src/content.ts
  project/src/store/graph/store.ts
  project/src/store/graph/use-graph.ts
  project/src/store/graph/use-store.ts
  project/src/store/statements/use-selector.ts
  project/src/store/statements/use-store.ts
  yarn.lock
Due: prettier --write

Add transactions generation
  project/src/components/generate-statement-button.tsx
  project/src/store/statements/use-store.ts
  project/src/utils/mcc.ts
  project/src/utils/transactions.ts
Due: none

Copy assets to make project avaiable as github page
  project/favicon.ico
  project/index.html
Due: none

Copy assets to make project avaiable as github page
  eslint.config.mjs
  index.html
  project-assets/favicon-BwyeQkZR.ico
  project-assets/index-BUuBGWbb.css
  project-assets/index-CwBmIvXr.js
Due: eslint --fix

Update README
  README.md
Due: prettier --write

Update configuration for github pages
  eslint.config.mjs
  project-assets/index-BUuBGWbb.css
  project/assets/app-C-9eFWRS.js
  project/assets/app-Q-g6XW5h.css
  project/assets/favicon-BwyeQkZR.ico
  project/eslint.config.js
  project/index.html
  project/main.html
  project/package.json
  project/vite.config.ts
Due: eslint --fix, prettier --write
